<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<httpErrors errorMode="Detailed" />
		<directoryBrowse enabled="true" />
		<defaultDocument>
			<files>
				<clear />
				<add value="Default.asp" />
				<add value="Default.html" />
				<add value="Default.htm" />
				<add value="index.html" />
				<add value="index.htm" />
			</files>
		</defaultDocument>
		<security>
			<requestFiltering>
				<requestLimits maxQueryString="932768" />
			</requestFiltering>
		</security>
		<rewrite>
			<rules>
                <rule name="RequireHttpsRedirect" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}:8443                     /{R:1}" redirectType="SeeOther" />
                </rule>
			</rules>
		</rewrite>
        <staticContent>
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
        <caching enabled="false" />
	</system.webServer>
</configuration>
